<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210123810570-4gfr851uc3du0h0ch3iqc8j9l6fcljn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210123810570-4gfr851uc3du0h0ch3iqc8j9l6fcljn6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210123810570-peftpmsh2mi23g8t5l18u82s3e8gdbd9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zQUdGdTxMc-fq2VjMUb7O5pFP74Aznc</string>
	<key>GCM_SENDER_ID</key>
	<string>210123810570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.create.wefiq</string>
	<key>PROJECT_ID</key>
	<string>wefiq-1872b</string>
	<key>STORAGE_BUCKET</key>
	<string>wefiq-1872b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210123810570:ios:2173d8f54049940d</string>
	<key>DATABASE_URL</key>
	<string>https://wefiq-1872b.firebaseio.com</string>
</dict>
</plist>